<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tester.api_tester_springboot.model.db.mapper.TestResultMapper">

    <resultMap id="BaseResultMap" type="com.tester.api_tester_springboot.model.db.domain.TestResult">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="runId" column="run_id" jdbcType="VARCHAR"/>
            <result property="testClass" column="test_class" jdbcType="VARCHAR"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="testName" column="test_name" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="throwable" column="throwable" jdbcType="VARCHAR"/>
            <result property="operator" column="operator" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,run_id,test_class,
        method,test_name,
        status,throwable,operator,
        start_time,end_time
    </sql>
</mapper>
